<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div class="header-container">
        <div>
            <h2 id="page-header">Nodial</h2>
        </div>
        <div>
            <a href="/" class="font-22 btn btn-light"> Sign in</a>
            <a href="/user/signUpPage" class="font-22 btn btn-light"> Sign up</a>
        </div>
    </div>
</body>
</html>

