body {
    margin: 0;
    background-color: rgb(32, 32, 32);    
    color: aliceblue;
}

.font-22{
    font-size: 22px;
}

#page-header{
    text-align: left;
}

.center-align{    
    justify-content: center;
    align-items: center;
}

/* home page style */

.home_page{
    flex-direction: column;
}

#sign-up-btn {
    
}


/* Header style */
.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem;
}

.header-container a {
    margin: 0 0.5rem;
}