body {
    margin: 0;
    /* /background-color: rgb(32, 32, 32);     */
    color: rgb(28, 29, 29);
    background-color: rgb(202 218 249 / 86%);
}

.font-22{
    font-size: 22px;
}

.page-header h2{
    text-align: left;
}

.page-header {
    color: rgb(28, 29, 29);
    text-decoration: none;
}

.page-header:hover {
    color:aliceblue; 
    text-decoration:none; 
}

.center-align{    
    justify-content: center;
    align-items: center;
}

/* home page style */

.home_page{
    flex-direction: column;
}

#home { 
    text-align: center;
    font-size: 100px;
}


/* Header style */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    background-color: whitesmoke;
}

.header-container a {
    margin: 0 0.5rem;
}


/* Style form posts */
.post-form {
    flex-direction: column;
    width: 100%;
}

.post-form-section {
    text-align: center;
}

.form-text {
    color: rgb(32, 32, 32); ;
}

.profile-container{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

/* card style */
.card-img{
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.post-section {
    width: 65%;
}

.post-container{
    display: flex;
}

